@{
    ViewBag.Title = "About Vibez";
}


<div id="top" class="main-content-wrapper section-padding-100">
    <div class="container containerAdjustment">
        <h4>@ViewBag.Title.</h4>
        <p>Vibez is a news blog that gives you information about all trending stuffs around the globe.</p>
    </div>
</div>
